{% extends 'usuarios/base.html' %}
{% block conteudo %}
<style>
body{
    background-color: #e9f5f9;
}
.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 30px;
  margin-bottom: 20px;
}
.container{
    text-align: center;
    margin-top: 50px;
    width: 45%;
}
.form-control-sm{
    margin-top: 10px;
}
#peso-text {
  font-weight: bold;
  margin-bottom: 10px;
}
.form-cadastro input{
    margin-top: 10px;
    margin-bottom: 10px;
}
#peso{
    margin-top: 10px;
    margin-bottom: 10px;
}
#form-quantidade{
    width: 19%;
}
.form-control{
    width: 100%;
}
#button-finish{
    margin-top: 20px;
}
.buttom-form{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 9px;
}
input[type="text"], [type="number"] {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

input[type="text"], [type="number"]:hover {
  border-color: #999;
}

input[type="text"], [type="number"] {
  color: #333;
}
</style>
<div class="container">
  <h1 class="titulo">Cadastro de Materiais</h1>
  <h6 style="color: red;">Preecha todos os campos</h6>
  <form class="form-cadastro">
    {% csrf_token  %}
    <input class="form-control-sm" type="text" placeholder="NOME*" required>
    <input class="form-control-sm" type="number" placeholder="VALOR R$*" step="0.10" required>
    <input type="number" id="peso" name="peso" min="0" max="999" step="0.1" placeholder="PESO (Kg)*" required>
    <input class="form-control-sm" id="form-quantidade" type="number" placeholder="QUANTIA*" required>
    <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">MATERIAL</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>TIPOS DE MATERIAIS*</option>
        <option value="1">Metais ferrosos (como aço, ferro fundido, ferro galvanizado, entre outros)</option>
        <option value="2">Metais não ferrosos (como alumínio, cobre, bronze, latão, níquel, zinco, entre outros)</option>
        <option value="3">Plásticos (como polietileno, polipropileno, PET, PVC, entre outros)</option>
        <option value="4">Vidros (como garrafas, vidros planos, espelhos, entre outros)</option>
        <option value="5">Papelões (como caixas, papelão ondulado, entre outros)</option>
        <option value="6">Eletrônicos (como placas de circuito, fios, cabos, entre outros)</option>
        <option value="7">Baterias (como baterias automotivas, de celular, entre outras)</option>
        <option value="8">Pneus (de carros, motos, bicicletas, entre outros)</option>
        <option value="9">Madeiras (como pallets, móveis, portas, entre outros)</option>
        <option value="10">Materiais de construção (como telhas, tijolos, concreto, entre outros)</option>
        <option value="11">Sucatas em geral (como objetos em fim de vida útil ou sem utilidade aparente)</option>
        <option value="12">OUTRO</option>
      </select>
    </div>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Descrição do material (Opcional)</label>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto" id="button-finish">
      <button class="buttom-form" type="submit">FINALIZAR</button>
    </div>
  </form>
</div>
{% endblock %}