.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 30px;
  margin-bottom: 20px;
}
.container{
    text-align: center;
    margin-top: 50px;
    width: 45%;
}
.form-control-sm{
    margin-top: 10px;
}
#peso-text {
  font-weight: bold;
  margin-bottom: 10px;
}
.form-cadastro input{
    margin-top: 10px;
    margin-bottom: 10px;
}
#peso{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control{
    width: 100%;
}
#button-finish{
    margin-top: 20px;
}
.buttom-form{
  background-color: #4CAF50; /* Cor de fundo verde */
  border: none;
  color: white;
  padding: 12px 30px; /* Adicione um pouco de espaço interno */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 9px; /* Adicione cantos arredondados */
}
input[type="text"], [type="number"] {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

input[type="text"], [type="number"]:hover {
  border-color: #999;
}

input[type="text"], [type="number"] {
  color: #333;
}